.title {
	text-align: center;
	font-size: 75px;
	color: #363638;
	padding-top: 20px;
	padding-bottom: 30px;
	font-weight: bold;
}

.playButton {
	font-size: 75px;
}


.counter {
	font-size: 50px;
	color: #363638;
}

.redbox {
	width: 200px;
	height: 200px;
	border-radius: 25px 75px 25px 0px;
	border: 3px solid #363638;
	background-color: #C16C64;
	margin: 5px;
}

.yellowbox {
	width: 200px;
	height: 200px;
	border-radius: 75px 25px 0px 25px;
	border: 3px solid #363638;
	background-color: #D8C970;
	margin: 5px;
}

.bluebox {
	width: 200px;
	height: 200px;
	border-radius: 0px 25px 75px 25px;
	border: 3px solid #363638;
	background-color: #6884C1;
	margin: 5px;
}

.greenbox {
	width: 200px;
	height: 200px;
	border-radius: 25px 0px 25px 75px;
	border: 3px solid #363638;
	background-color: #5F9E5B;
	margin: 5px;
}

.startButton {
	height: 120px;
	width: 120px;
	background-color: #363638;
	border-radius: 20px;
	color: #C7C7CC;
	position: relative;
}

.rotate {
	transform:rotate(-45deg);
}



